@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --background-color: #FBFBFB;
    --green-background-color: #153e52;
    --darkgreen-color: #113448;
    --light-green-color: #14bf98;
    --dark-grey-color: #484a46;
    --light-grey-color: #787976;
    --white: #FFFFFF;
    --disabeled-color: #e9ecef;
    --dark-white-color: #efe5ec;
    --light-grey-border-color: #ebe8e8;
    --form-input-background-color: #2a5d77;
    --form-input-border-color: #39728f;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
button,
li,
input,
textarea,
label,
select,
option {
    font-family: 'Open sans', sans-serif;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: 1px solid var(--light-green-color);
    background-color: var(--light-green-color);
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 5px;
    transform: all 0.125s ease-in-out;
    font-weight: 900rem;
    letter-spacing: 0.3ch;
    font-size: 0.85rem;

}

button:hover {
    background: transparent;
    color: var(--light-green-color);
}

nav {
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    /* padding: 1rem 3 rem; */
    box-sizing: border-box;
    align-items: center;
    color: var(--white);
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
    z-index: 100;
    /* background-color: var(--dark-grey-color); */
    backdrop-filter: blur(10px) grayscale(75%) contrast(60%);

}

nav .menu{
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    transition: color 0.12s ease-in-out;
}

nav a:visited {
    color: var(--white);
}

nav ul li a:hover {
    color: var(--light-green-color);

}



nav img {
    height: 3.5rem;
    /* background-color: var(--dark-grey-color); */
    /* clip-path: fill-box; */
    cursor: pointer;
}

/* nav img:hover {
    color: var(--light-green-color);
    background-color: var(--light-green-color);
} */
.Home {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./assets/home_bg.jpg');
    /* background-image: url(/assets/home_bg.jpg); */
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--white);

}

.Home h1 {
    font-size: 5rem;
    transition: color 0.1125s ease-in-out;
    padding: 0.5rem;


}

.Home h1:hover {
    color: var(--light-green-color);
}

.Home p {
    font-size: 1.5rem;
    width: 50%;
    padding: 2rem;
}

.intro {
    padding: 3rem 20vw;
    background-color: var(--white);
}

.intro .content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.intro .content .text {
    width: 40%;
    flex-shrink: 0;
    padding-right: 2rem;
    box-sizing: border-box;
}

.intro .content h1 {
    color: var(--dark-grey-color);
    font-size: 2.2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.intro .content .text p {
    line-height: 1.8rem;
    font-size: 1.2rem;
    color: var(--light-grey-color);
    font-weight: 400;
}

.italic {
    font-style: italic;
}

.intro .content .text h4 {
    line-height: 1.5rem;
    color: var(--dark-grey-color);
}

.intro .content .image-container {
    width: 60%;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 5px;
    filter: grayscale(25%);
    cursor: pointer;
}

.intro .content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    transition: transform 0.25s ease-in-out;

}

img {
    vertical-align: middle;
    border-style: none;

}

.intro .content img:hover {
    transform: scale(1.5);
}


.intro .skill-list-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;

}

.intro .skill-list-container .skill-item {
    width: 30%;
    line-height: 1.5rem;
}

.intro .skill-list-container .skill-item h4 {
    font-size: 1.5rem;
    color: var(--dark-grey-color);
}

.intro .skill-list-container .skill-item p {
    line-height: 1.8rem;
    font-size: 1.2rem;
    color: var(--light-grey-color);
    font-weight: 400;
}

.section-title {
    color: var(--light-green-color);
    /* margin: 1rem; */
    padding: 1rem 0px;
    text-transform: uppercase;
}

.services {
    padding: 5rem;
    /* text-align: center; */
    /* background-color: var(--dark-white-color); */
}

.services>span {
    text-align: center;
    display: block;

}

.services>h3 {
    text-align: center;
    font-size: 2.2rem;
    color: var(--dark-grey-color);
}

.services .service-list-container {
    display: flex;
    /* flex-shrink: 0; */
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 3rem 20vw;
}

.services .service-list-container .service-item {
    width: 30%;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1x solid var(--light-grey-border-color);
    border-radius: 5px;
    background-color: var(--white);
    align-items: start;

}

.services .service-item img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    filter: grayscale(25%) contrast(60%);
    border-radius: 5px 5px 0 0;
}

.services .service-item h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-grey-color);
    padding: 1rem;
}

.services .service-item p {
    
    color: var(--light-grey-color);
    line-height: 1.7rem;
    font-size: 1.2rem;
}

.services .service-item ul {
    color: var(--light-grey-color);
    line-height: 1.7rem;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    list-style-type: none;
}

.services .service-item ul li::before {
    content: '\25a0';
    margin-right: 5px;
    font-size: 1.25rem;
    color: var(--light-green-color);
}

.services .service-item h5 {
    text-align: center;
    font-size: 1.2rem;
    color: var(--dark-grey-color);
}

.services .service-item .price {
    color: var(--light-green-color);
}

.services .service-item button {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);

}

.services .proposition {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* background-color: var(--white); */
}

.services .proposition img {
    width: 50%;
    filter: grayscale(25%) contrast(60%);
    min-height: 35rem;
    object-fit: cover;
    object-position: center;
}

.services .proposition .content {
    width: 50%;
    flex-shrink: 0;
    background-color: var(--white);
    box-sizing: border-box;
}

.services .propositions-1 h4{
    color: var(--dark-grey-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all color 0.125s ease-in-out;
}

.services .propositions-1 h4.active{
    color: var(--light-green-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all color 0.125s ease-in-out;
}

.services .propositions-1 h4 span{
    border-radius:50%;
    border: 2px solid var(--light-grey-color);
    color: var(--dark-grey-color);
    padding: 0 0.65rem;
    margin: 0.5rem;
    transition: all 0.125s ease-in-out;
}

.services .propositions-1 h4.active span{
    color: var(--white);
    background-color: var(--light-green-color);
    border-radius:50%;
    border: 2px solid var(--lightgreen-color);
    padding: 0 0.65rem;
    margin: 0.5rem;
}

.services .propositions-1 h4:hover span{
    background-color: var(--light-green-color);
    color: var(--white);
    border: 2px solid var(--lightgreen-color);
}
.services .propositions-1 h4:hover {
    /* background-color: var(--light-green-color); */
    color: var(--light-green-color);
}




.services .propositions-1 .content {
    padding: 5rem 20vw 5rem 5rem;
    

}

.services .propositions-2 .content {
    padding: 5rem 20vw 5rem 5rem;

}

.services .propositions-2 .catagory-list-container{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
}

.services .propositions-2 .catagory-item h3{    
    display: flex;
    gap: 1.1rem;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.services .propositions-2 .catagory-item h3.active{
    color: var(--light-green-color);
}

.services .propositions-2 .catagory-item h3:hover{
    color: var(--light-green-color);
}

.services .propositions-2 h3 {
    color: var(--dark-grey-color);
    font-size: 1.75rem;
}

.services .propositions-1 .content p {
    line-height: 1.8rem;
    font-size: 1.2rem;
    color: var(--light-grey-color);
    font-weight: 400;
}

.services .propositions-2 .content p {
    line-height: 1.8rem;
    font-size: 1.2rem;
    color: var(--light-grey-color);
    font-weight: 400;
}

.services .propositions-2 .content p a{
    color: var(--light-green-color);
}


.services .skill-list-container .skill-item h6{
    color: var(--dark-grey-color);
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0.2rem;

}

.services .skill-list-container .skill-item .progress-bar{
    width: 0;
    height: 1.5rem;
    border-radius: 5px;
    margin-top: 0;
}

.services .skill-list-container .skill-item .progress-bar.p-100{
    width: 100%;
    height: 1.5rem;
    border-radius: 5px;
    margin-top: 0;
    background-color: var(--light-green-color);
}

.services .skill-list-container .skill-item .progress-bar.p-76{
    width: 76%;
    height: 1.5rem;
    border-radius: 5px;
    margin-top: 0;
    background-color: var(--light-green-color);
}

.services .skill-list-container .skill-item .progress-bar.p-90{
    width: 90%;
    height: 1.5rem;
    border-radius: 5px;
    margin-top: 0;
    background-color: var(--light-green-color);
}

.services .skill-list-container .skill-item .progress-bar.p-100{
    color: var(--light-green-color);
    width: 100%;
}

.services .testimonial {
    padding: 5rem 20vw;

}

.services .testimonial h3 {
    text-align: center;
    color: var(--dark-grey-color);
    font-size: 2rem;

}

.services .testimonial p {
    line-height: 1.8rem;
    font-size: 1.2rem;
    color: var(--light-grey-color);
    font-weight: 400;
    text-align: center;
}

.services .testimonial-list-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.services .testimonial-item {
    width: 30%;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    padding: 3rem 0;
}

.services .testimonial img {
    width: 6rem;
    border-radius: 5px;
}

.services .testimonial h5 {
    text-align: center;
    font-size: 1.1rem;
    color: var(--dark-grey-color);
}

.call_me {
    padding: 5rem 20vw;
    background-color: var(--green-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.call_me .content,
.call_me .form {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    color: var(--white);
    /* align-items: center; */
}

.call_me .content h3 {
    font-size: 1.75rem;
    /* padding: 1rem; */
}

.call_me .content p {
    line-height: 1.9rem;
    font-size: 1.1rem;
    color: var(--dark-white-color);
}

.call_me .content ul {
    color: var(--dark-white-color);
    line-height: 1.5rem;
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
    line-height: 1.9rem;
    list-style-type: none;
    padding: 0;
}

.call_me .content ul li::before {
    content: '\25a0';
    margin-right: 5px;
    font-size: 1.25rem;
    color: var(--light-green-color);
}

.call_me form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
}

.call_me a {
    line-height: 1.9rem;
    font-size: 1.1rem;
    color: var(--dark-white-color);
}

.call_me form input,
.call_me form select {
    background-color: var(--form-input-background-color);
    border: 1px solid var(--form-input-border-color);
    border-radius: 5px;
    color: var(--white);
    padding: 0.75rem 1.5rem;

}

.projects {
    padding: 5rem 20vw;
    background-color: var(--white);
}

.projects .section-title,
.projects h3 {
    text-align: center;
    display: block;
}

.projects>h3 {
    font-size: 1.75rem;
    color: var(--dark-grey-color);
}

.projects .catagory-list-container {
    display: flex;
    flex-direction: row;
    padding: 3rem 0 1rem;
    overflow: hidden;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;

}

.projects .catagory-list-container ul {
    list-style: none;
    align-items: center;

}

.projects .catagory-list-container ul button {
    background-color: var(--light-grey-border-color);
    color: var(--dark-grey-color);
    padding: 0.5rem 1rem;
    border: 1x solid var(--light-grey-border-color) transparent;
}

.projects .catagory-list-container ul button:hover {
    background-color: var(--light-green-color);
    color: var(--white);
}

/* this will show how to make a button hover on while there can be other be chosen  */

.projects .catagory-list-container ul button.active {
    background-color: var(--light-green-color);
    color: var(--white);
}

.projects .project-list-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3rem;
}

.projects .project-list-container .project-item {
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
}

.projects .project-list-container .project-frame {
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
}

.projects .project-item.p-1 {
    background-image: url('/assets/project_1.jpeg');
    /* width: 60%; */
    /* flex-shrink: 0; */
    /* overflow: hidden; */
    border-radius: 5px;
    /* filter: grayscale(25%); */
    cursor: pointer;

    /* border-style: none; */
}

.projects .project-item.p-2 {
    background-image: url('./assets/project_2.jpeg');
    /* width: 60%; */
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 5px;
    filter: grayscale(25%);
    cursor: pointer;
}

.projects .project-item.p-3 {
    background-image: url('./assets/project_3.jpg');
    /* width: 60%; */
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 5px;
    filter: grayscale(25%);
    cursor: pointer;
}

.projects .project-item.p-4 {
    background-image: url('./assets/project_4.jpg');
    /* width: 60%; */
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 5px;
    filter: grayscale(25%);
    cursor: pointer;
}

.projects .project-item.p-5 {
    background-image: url('./assets/project_5.jpg');
    /* width: 60%; */
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 5px;
    filter: grayscale(25%);
    cursor: pointer;
}

.projects .project-item.p-6 {
    background-image: url('./assets/project_6.jpg');
    /* width: 60%; */
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 5px;
    filter: grayscale(25%);
    cursor: pointer;
}

.projects .project-item.p-7 {
    background-image: url('./assets/project_7.jpg');
    /* width: 60%; */
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 5px;
    filter: grayscale(25%);
    cursor: pointer;
}

.projects .project-item.p-8 {
    background-image: url('./assets/project_8.jpg');
    /* width: 60%; */
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 5px;
    filter: grayscale(25%);
    cursor: pointer;
    object-fit: cover;
    box-sizing: border-box;
}

.projects .project-item.p-1:hover {
    transform: scale(1.5);
    transition: transform 0.25s ease-in-out;
}

.projects .project-item.p-1:hover {
    transform: scale(1.5);
    transition: transform 0.25s ease-in-out;
}

.projects .project-item.p-2:hover {
    transform: scale(1.5);
    transition: transform 0.25s ease-in-out;
}

.projects .project-item.p-3:hover {
    transform: scale(1.5);
    transition: transform 0.25s ease-in-out;
}

.projects .project-item.p-4:hover {
    transform: scale(1.5);
    transition: transform 0.25s ease-in-out;
}

.projects .project-item.p-5:hover {
    transform: scale(1.5);
    transition: transform 0.25s ease-in-out;
}

.projects .project-item.p-6:hover {
    transform: scale(1.5);
    transition: transform 0.25s ease-in-out;
}

.projects .project-item.p-7:hover {
    transform: scale(1.5);
    transition: transform 0.25s ease-in-out;
}

.projects .project-item.p-8:hover {
    transform: scale(1.5);
    transition: transform 0.25s ease-in-out;
}

.team {
    background-color: var(--background-color);
    padding: 5rem 20vw;
}

.team>h3 {
    color: var(--dark-grey-color);
    font-size: 1.75rem;
    text-align: center;
}

.team>p {
    line-height: 1.8rem;
    font-size: 1.2rem;
    color: var(--light-grey-color);
    font-weight: 400;
    text-align: center;
    padding: 1.3rem;
}

.team .team-member-list-container {
    display: flex;
    flex-direction: row;
    padding: 3rem 0;
    justify-content: space-between;
}

.team .team-member-list-container .team-member-item {
    width: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.team .team-member-list-container .team-member-item .profile-picture {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
}

.team .team-member-list-container .team-member-item .profile-picture img {
    object-fit: cover;
    object-position: center;

}

.team .team-member-list-container .team-member-item .profile-picture img:hover {
    transform: scale(1.25);
    transition: 0.22s ease-in-out;
}

.team .team-member-list-container p {
    font-size: 1.2rem;
    color: var(--light-grey-color);
    font-weight: 400;

}

.team .team-member-list-container .team-member-item .social-links span {
    background-color: var(--white);
    color: var(--light-green-color);
    /* clip-path: polygon(0 25%, 0 75%, 50 100%, 100 75%, 100 25%, 50 0%); */

}

.About {
    padding: 5rem 20vw;
    background-color: var(--white);
    display: flex;
}

.About>img {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 5px;
    filter: grayscale(50%);
}

.About>.content {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 8rem;
}

.About .content h3 {
    color: var(--dark-grey-color);
    font-size: 2rem;
}

.About .content p {
    line-height: 1.8rem;
    font-size: 1.2rem;
    color: var(--light-grey-color);
    font-weight: 400;
    padding-top: 0.5rem;

    /* text-align: left; */
}

.About .content ul {
    font-size: 1.2rem;
    color: var(--light-grey-color);
    list-style-type: none;
}

.About .content ul li::before {
    content: '\25a0';
    margin-right: 5px;
    font-size: 1.25rem;
    color: var(--light-green-color);
    /* align-content: center; */
}

.About .stat-list-container .stat-item {
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

}

.About .stat-list-container .stat-item .number {
    color: var(--light-green-color);
    font-size: 3rem;
    font-weight: 700;
    /* display: flex;
    flex-direction: row; */
}

.contact {
    padding: 5rem 20vw;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    justify-content: space-between;
}

.contact .content,
.contact .form {
    width: 45%;
    flex-grow: 0;
    flex-shrink: 0;

}

.contact .content H3 {
    color: var(--dark-grey-color);
    font-size: 2rem;
    font-weight: 700;

}

.contact .content p {
    line-height: 1.8rem;
    font-size: 1.2rem;
    color: var(--light-grey-color);
    font-weight: 400;
    padding-top: 0.5rem;
}

.contact .content p i {
    color: var(--light-green-color);
    margin: 0 0.5rem;
}

.contact .content .contact-info-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;

}

.contact .content .social-link-list-container {
    display: flex;
    flex-direction: row;

}

.contact .content .social-link-list-container .social-link-item {
    font-size: 2.2rem;
    color: var(--darkgreen-color);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.contact .content .social-link-list-container .social-link-item:hover {
    cursor: pointer;
    color: var(--light-green-color);
}

.contact .form form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: stretch;
    
}

.contact input, .contact textarea{
    padding: 1rem;
    border: 5px;
    border-radius: 1px solid var(--light-grey-color);
    background-color: var(--white);
    color: var(--dark-grey-color);
}

.contact form label{
    color: var(--dark-grey-color);
    line-height: 1.5rem;
}
.contact form label a{
    text-decoration: underline;
    color: var(--dark-grey-color);
}

footer{
    padding: 5rem 20vw;
    background-color: var(--darkgreen-color);
    color: var(--white);
}
footer .footer-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

footer .footer-list-container h3{
    font-size: 1.8rem;
    font-weight: 700;
}
footer .footer-list-container .footer-item.wide{
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}

footer .footer-list-container .footer-item{
    width: 16%;
    flex-grow: 0;
    flex-shrink: 0;
}
footer .footer-list-container .footer-item a{
text-decoration: underline;
    color: var(--white);
}

@media  screen and (max-width:900px) {
    nav ul {
        display: none;
    }
    nav .menu{
        display: initial;
    }

    .intro .content, .intro .skill-list-container {
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        
    }

    .intro .content .text, .intro .content .image-container, .intro .skill-list-container .skill-item{
        width: 100%;
        padding: 0;
    }

    .intro .skill-list-container .skill-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin: 1rem 0;
    }

    .services .testimonial-list-container{
        display: flex;
        flex-direction: column;
    }

    .services .testimonial{
        width: 100%;
    }

    .services .testimonial-item{
        width: 100%;
    }


    .services .proposition {
        
        flex-direction: column;
       
    }

    .services .proposition .content{
        padding: 5rem;
    }
    
    .services .proposition img,  .services .proposition .content {
        width: 100%;
        /* filter: grayscale(25%) contrast(60%); */
        
        object-fit: cover;
        object-position: center;
    }
    
    
        

    .call_me{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .call_me .content, .call_me .form{
        width: 100%;
    }

    .projects .project-list-container{
        grid-template-rows: repeat(4 , 1fr);
        grid-template-columns: repeat(2 , 1fr);
    }

    .team .team-member-list-container .team-member-item{
        width: 45%;
    }
    
    .team .team-member-list-container{
        flex-wrap: wrap;
        gap: 2rem;
    }

    .About > img, .About .content{
        width: 100%;
        padding: 0;
    }

    .About{
        flex-direction: column;
        gap: 3rem;
    }

    .contact{
        flex-direction: column;
        gap: 3rem;
    }

    .contact .content, .contact .form{
        width: 100%;
    }

    footer .footer-list-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer .footer-list-container .footer-item.wide{
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
    }
    
    footer .footer-list-container .footer-item{
        width: 25%;
        flex-grow: 0;
        flex-shrink: 0;
    }
    
    

    
}

@media screen and (max-width:701px) {
    footer .footer-list-container .footer-item{
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

@media screen and (max-width:1080px) {
    .services .service-list-container .service-item{
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        
    }

    .services .service-list-container {
        
        /* width: 100%; */
        /* flex-wrap: wrap; */
        flex-direction: column;
        gap: 5rem;
    }

   
}

